.ff-music-item {
    color: #344072;
    display: flex;
    padding: 10px 0;
    border-bottom: dashed 2px #ddd;
}

.ff-music-item__image {
    width: 100px;
    flex-shrink: 0;
}

.ff-music-item__image img {
    width: 100%;
}

.ff-music-item__detail {
    flex: 1;
    padding-right: 5px;
}

.ff-music-item__title {
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}

.ff-music-item__subtitle {
    color: #8086a0;
}

.ff-music-item__rank {
    flex-shrink: 0;
    width: 60px;
    line-height: 40px;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.ff-music-item__rank--long {
    font-size: 23px;
}

.trend__icon {
    font-size: 11px;
    line-height: 12px;
    margin-top: 8px;
}

.trend__icon img {
    width: 20px;
}

.ff-music-item__promo {
    margin-top: 5px;
}

.ff-music-item__meta {
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
}

.ff-music-item__meta-label {
    font-weight: normal;
    color: #8086a0;
}

.color--rising {
    color: #4edcb1;
}

.color--falling {
    color: #fe3580;
}

.color--new {
    color: #ffaa36;
}

.color--reenter {
    color: #ffaa36;
}